@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,200&family=Roboto:ital,wght@0,300;0,400;1,100;1,500&display=swap');
*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    width: 400px;
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
    position: relative;
    top: 50%;
    margin-top: 200px;    
}
.out-lay{
    justify-content:center;
    margin-bottom: 5rem;
}
.flex-container button {
    display: block;
    width: 100px;
    margin: 0 auto;
}
.text-content {
    margin-top: 5px;
}
body{
    background-image: url(https://i.postimg.cc/9XgRGqfZ/1105206-illustration-digital-art-minimalism-grass-green-yellow-simple-triangle-pattern-texture-circl.png);
    background-size: cover;
    background-attachment:fixed;
    min-height: 100vh;
    width: 100vw;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    
}
body{
    background-color: #222;
  }
  body::-webkit-scrollbar {
    width: 15px;
    border-radius: 50px;
    background-color: #222;
  }
  body::-webkit-scrollbar-track {
    background-color: rgba(21, 91, 5, 0.55);
    border-radius: 50px;
    border: 1px solid rgb(26, 92, 4);
  }
  body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, rgb(45, 162, 18), rgb(106, 255, 0));
    border-radius: 50px;
    border: 1px solid black;
    box-shadow:  inset 0.1em 0.1em 0.1em 0 rgba(93, 255, 90, 0.5), inset -0.1em -0.1em 0.1em 0 rgba(0,0,0,0.5);
  }
header img{
    width: 4rem;
}
.menu-list{
    text-align: center;
    list-style: none;
}
.menu-list a{
    text-decoration: none;
    padding: 5px;
    color: rgb(255, 255, 255);
}
.menu-list a:hover{
    color: rgb(7, 167, 7);
}
.content{
    max-height: 100vh;
}
.container-1{
    
    margin: 150px 0;
    height: 50%;
    width: 55%;
    border-radius: 50%;
    border-style: groove;
    border-width: 20px;
    border-color: rgb(13, 96, 14);
}
.container-2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    top: 100px;
}
.container-3{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}
.container-4{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    position: relative;
    bottom: 80px;
}
.container-5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    position: relative;
    right: 30px;
}
.btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.btn{
    background-color: rgb(11, 41, 6);
    position: relative;
    top: 20px;
}
footer{
    text-align: center;
    border-style: double;
    box-sizing: border-box;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgb(11, 59, 6);
    position:fixed;
    width: 100%;
    bottom: 0%;
    color: rgb(0, 0, 0);
}
h1{
    color: black;
}
.web{
    color: rgb(7, 49, 4); 
}
/* About */
.photo{
width: 300px;
    border-radius: 10px;
    border-style:solid ;
    border-color: rgba(0, 0, 0, 0.82);
    animation: fade 2s;
    position: relative;
    margin-top: 1rem;
    height: 30rem;
}
.container-7{
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.692);
    text-align:center;
    border-radius:10px ;
    color: azure;
    opacity: 0;
    animation: fade 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.spacing{
    padding-right: 10px;
    width: 545px;
    padding-bottom: 20px;
}
.wording{
    padding-top: 7rem;
   
}

.wording p{
    margin: auto;
}

.about{
   flex-direction: column;

  padding-bottom: 57px;
}
.about-me{
    color: rgb(255, 255, 255);
    position: relative;
    top: 150px;
}
/* education */
.edu-pic{
   width: 25rem;
   border-radius: 10px;
}
.container-9{
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    width: 100%;
}
.separate{
    flex-direction: column;
    margin-top: 10rem;
   padding-bottom: 50px;
}
.collect{
    padding-right:10px ;
}
.text-in{
    width: 100%;
}
/* Skills */
.container-12{
margin-bottom: 3rem;
}
.end-pic{
    border-style: solid;
    width: 25rem;
   margin-top: 7rem;
   
}
h2{
    text-align: center;
    position: relative; 
    top: 100px;   
}
/* Projects */
main{
padding: 10px;
padding-top: 8rem;
padding-bottom: 2rem;
width: 100vw;
}

.tie{
    margin-bottom: 2rem;
    align-items: center;
}
/* Testimonial */
.test-box{
    padding-top: 8rem;
    padding-bottom: 1rem;
}
/* contact */
.icon a{
    color: black;
}
.icons{
   display:inline;
}
.personal{
    background-color: rgba(240, 248, 255, 0.441);
    border-radius: 10px;
}
.container-13{
    padding-bottom: 30px;
}
.cont{
    margin-top:5rem ;
}
.sec{
    
}
form{
    margin-top: 10rem;
    padding-left: 5rem;
}
.container-14{
margin-top:6rem;
    width: 35rem;
 border-style: solid;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* Media Queries */


@media only screen and (max-width: 720px){
.out-lay{
    flex-direction: column;
    display: inline-flex;
    text-align: center;
    width: 100%;
    margin-right: 200px;
    align-items: center;
}
.landing{
    width: 100%;
}
.container-1{
    position: relative;
    bottom: 300px;
    width: 100%;
}
.testimony{
    display:inline-flex;
    width: 100%;
    position: sticky;
    flex-direction: column;
}
main{
    flex-direction: column;
    width: 100%; 
    display: inline-flex;
    margin: auto;
}
.card{
    margin-top: 2rem;
}
footer{
    position: static;
 
}
.container-7{
    flex-direction: column;
    display: inline-flex;
}
.spacing{
    width: 100%;
}
.edu-pic{
    width: 100%;
}
.end-pic{
    width: 100%;
}

}
@media only screen and (max-width:1000px){
    main form {
        margin-left: 0;
        padding-left: 0;
    }
    .container-14{
        width: 100%;
    }
    .testimony{
        width: 100%;
        position: sticky;
        display:inline-flex;
    }
}
@media only screen and (max-width: 900px) {
    .testimony{
        width: 100%;
        position: sticky;
        display:inline-flex;
    }
    .photo{
        width:100%;
    }
    main{
        flex-direction: column;
        width: 100%;
        display: inline-flex;
    }
}